body	{
	background-color: #808080;
	color: #202020;
}

.song-player	{
	/*height:	400px;*/
	width: 300px;
	display: none;
	background-color: #c0c0c0;
	padding: 10px;
	border: 1px solid black;
	margin: 10px;
}

h2	{
	margin-top: 0;
	margin-bottom: 0;
	overflow: hidden;
}

h3	{
	margin-top: 0;
	margin-bottom: 10px;
}

.link-text	{
	text-decoration: none;
	color: #202020;
}	

.link-text:hover	{
	color: #606060;
}

.artwork 	{
	text-align: center;
}

.song-image	{
	width: 200px;
	margin-bottom: 10px;
}

.artwork-link:hover	{
	opacity: 0.7;
}

.song-footer	{
	display: inline-block;
}

.controls	{
	display: flex;
	justify-content: center;
}

.button	{
	width: 24px;
	height: 24px;
	display: inline-block;
	background-size: 100%;
	margin-top: 8px;
	margin-left: 12px;
	fill: #d0d0d0;
}

.button:nth-of-type(6n+1)	{
	background-image: url(Assets/Images/play-button.svg);
}

.button:nth-of-type(6n+2)	{
	background-image: url(Assets/Images/pause-button.svg);
}

.button:nth-of-type(6n+3)	{
	background-image: url(Assets/Images/stop-button.svg);
}

.button:nth-of-type(6n+4)	{
	background-image: url(Assets/Images/volume-up.svg);
}

.button:nth-of-type(6n+5)	{
	background-image: url(Assets/Images/volume-down.svg);
}

.button:nth-of-type(6n+0)	{
	background-image: url(Assets/Images/mute-button.svg);
}

.user-icon	{
	text-align: right;
	display: inline;
}

.user-image	{
	width: 40px;
	margin-left: 40px;
}

.user-link:hover	{
	opacity: 0.5;
}

/*#new-song-file	{
	visibility: hidden;
}*/